<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Test</title>
	<link rel="stylesheet" href="static/uikit/css/uikit.gradient.min.css">
	<link rel="stylesheet" href="static/css/page.css">
	<script src="static/js/jquery.min.js"></script>
	<script src="static/uikit/js/uikit.min.js"></script>
	<script src="static/js/canvasjs.min.js"></script>

</head>
<body>

	

	<div class="overlay">
		<img src="static/img/ajax-loader.gif">
	</div>

	<nav class="uk-navbar uk-fixed-navigation">
		<a class="uk-navbar-brand" href="">AntiBiobank</a>

		<ul class="uk-navbar-nav">
			<li><a href="#">A propos</a></li>
			<li><a href="#">Aide</a></li>
			<li><a href="#">Participer</a></li>
		</ul>

		<div class="uk-navbar-flip">
			<div class="navbar-content uk-hidden-small">

				<form class="uk-search">
					<input class="uk-search-field bactery_search" type="search" placeholder="Bactérie ..." autocomplete="off">
					<button class="uk-search-close" type="reset"></button>
				</form>
			</div>
		</div>
	</nav>



	<div class="container">

		<div class="left">

			<form action="#" class="uk-form">
				<input id="bacteries_input" class="uk-form-large field" type="text" placeholder="Bacterie" 
				list="bacteries_list">

				<input id="specimens_input" class="uk-form-large field" type="text" placeholder="Prelevement" 
				list="specimens_list">

				<input id="services_input" class="uk-form-large field" type="text" placeholder="Service" 
				list="services_list">


				<datalist id="bacteries_list">
				</datalist>
				
				<datalist id="specimens_list">
				</datalist>

				<datalist id="services_list">
				</datalist>

				<img src="static/img/indicator.gif" class="indicator" width="100%" style="visibility:hidden"/> <br/>

				<button class="uk-button  uk-width-1-1" onClick="get_stats()">Rechercher</button>


			</form>

			<hr>

			<ul class="uk-nav uk-nav-side" id="atb_list">
				<li><a href="">Amoxicilline</a></li>
				<li class="uk-active"><a href="">Cefotaxime</a></li>


			</ul>

			


		</div>


		<div class="main">

			<ul class="uk-subnav uk-subnav-line" id="subnav">
				<li><a href="">Staphylococcus</a></li>
				<li><a href="">RESP</a></li>
				<li><span>Pediatrie</span></li>
			</ul>
			

			<div class="uk-grid" id="box_container">

				<div class="uk-width-custom uk-grid-margin" style="width:300px;display:none" id="box_template">
					<div class="uk-panel uk-panel-box" >
						<div id="{CHARTID}" style="height: 300px; width: 100%;">
							

						</div>
						<!-- <h3 class="uk-panel-title">
							{ANTIBIOTIQUE}
						</h3> -->
						<!-- <canvas id="{CHART}" width="200" height="200"></canvas> -->
					</div>
				</div>


			</div>

		</div>






	</div>

	<script>

// ====================================================================

function get_stats(){

	send = {}
	send["bacterie"] = $("#bacteries_input").val();
	send["specimen"] = $("#specimens_input").val();
	send["service"]  = $("#services_input").val();


	$('.overlay').css({"visibility":"visible"});

	$.post("ajax_stats.json",send, function(data,status){
		$("#atb_list").empty();
		for (var i=0; i<data.length; i++)
			$("#atb_list").append("<li><a href='#'>"+data[i].name+"</a></li>")

		load_chart(data);

	})
	.always(function() {
		$('.overlay').css({"visibility":"hidden"});	

	})

	.fail(function() {
		$('.overlay').css({"visibility":"hidden"});	

	})
	;
}

// ====================================================================

function load_chart(data){

	box_template = $("#box_template")[0].outerHTML;


	for (var i=0; i<data.length; i+=1)
	{
		console.log(data[i]);
		box = box_template.replace("display:none", "");
		box = box.replace("{CHARTID}", "chart-"+i);
		
		if ($("#chart-"+i).length == 0)  // If existe deja, on refait pas
			$("#box_container").append(box);

		var chart = new CanvasJS.Chart("chart-"+i,
		{
			title:{
				text: data[i].name
			},
			legend:{
				verticalAlign: "top",
				horizontalAlign: "center"
			},
			data: [
			{
				type: "doughnut",
				showInLegend:true,
				dataPoints: [
				{  y: data[i].S, indexLabel: "S", color:"#98cb4a", legendText:"Sensible"},
				{  y: data[i].R ,indexLabel: "R" , color:"#f26075", legendText:"Resistant"},
				{  y: data[i].I, indexLabel: "I" , color:"#849199", legendText:"Intermediaire"},

				]
			}
			]
		});

		chart.render();


		// box = box_template.replace("visibility:hidden", "");
		// box = box.replace("{ANTIBIOTIQUE}", data[i].name);
		// box = box.replace("{CHART}", "chart"+i);
		// box = box.replace("box_template", "box"+i);
		// $("#box_container").append(box);

		// var ctx = document.getElementById("chart"+i).getContext("2d");

		// var pieData = []

		// pieData.push({"value":parseInt(data[i].S),color:"#98cb4a"})
		// pieData.push({"value":parseInt(data[i].I), color:"#849199"})
		//pieData.push({"value":parseInt(data[i].R), color:"#f26075"})

		// pieData.push({"value":1});
		// pieData.push({"value":1});

		// var myPie = new Chart(ctx).Doughnut(pieData);



	}




}




$(document).ready(function(){







	$("#bacteries_list").empty();
	$("#services_list").empty();
	$("#specimens_list").empty();

	$.getJSON("http://localhost:8000/ajax_bacteries.json", function(data) {
		for (var i=0; i<data.results.length; i+=1)
			$("#bacteries_list").append("<option value='"+data.results[i]+"'>")
	});

	$.getJSON("http://localhost:8000/ajax_services.json", function(data) {
		for (var i=0; i<data.results.length; i+=1)
			$("#services_list").append("<option value='"+data.results[i]+"'>")
	});

	$.getJSON("http://localhost:8000/ajax_specimens.json", function(data) {
		for (var i=0; i<data.results.length; i+=1)
			$("#specimens_list").append("<option value='"+data.results[i]+"'>")
	});



	





	






})

</script>

</body>






</html>
