<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Test</title>
	<link rel="stylesheet" href="static/uikit/css/uikit.gradient.min.css">
	<link rel="stylesheet" href="static/css/page.css">
	<script src="static/js/jquery.min.js"></script>
	<script src="static/uikit/js/uikit.min.js"></script>
	<script src="static/js/canvasjs.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
	<script src="http://cdn.oesmith.co.uk/morris-0.4.3.min.js"></script>
	<script src="static/js/antibiobank.js"></script>


	

</head>
<body>

	

	<div id="overlay">
		<img src="static/img/ajax-loader.gif">
	</div>

	<nav class="uk-navbar uk-fixed-navigation">
		<a class="uk-navbar-brand" href="">AntiBiobank</a>

		<ul class="uk-navbar-nav">
			<li><a href="#">A propos</a></li>
			<li><a href="#">Aide</a></li>
			<li><a href="#">Participer</a></li>
		</ul>

		<div class="uk-navbar-flip">
			<div class="navbar-content uk-hidden-small">
			</div>
		</div>
	</nav>



	<div class="container">


		<div class="left">
			<div id="searchform">
				<form  action="#" class="uk-form">

					<select id="bacteries_input" class="uk-form-large field">

					</select>



					<select id="filter_mode" class="uk-form-large">
						<option selected="selected" value="S">Sensible</option>
						<option value="I">Intermediaire</option>
						<option value="R">Resistant</option>

					</select>

					<button id="getButton" class="uk-button uk-button-large" 
					onclick="return false">Rechercher</button>


				</form>
			</div>



			<ul class="uk-nav uk-nav-side uk-subnav-pill" id="atb_list">
				<li class="uk-nav-divider"></li>
				<li class="uk-nav-header">Antibiotique</li>
				<li id="amox"><a>Amoxicilline</a></li>
				<li id="cefo"><a>Cefotaxime</a></li>
			</ul>




		</div>


		<div class="main">

			<h2  id="bactery_name" class="uk-text-large inline">SALUT</h2>
			<h3 id="total" class="uk-text-success inline"> 43 </h3>

			<ul class="uk-subnav uk-subnav-line" id="subnav">
				<!-- <li id="bactery_name"><span>dd</span></li>
				<li id="total_record"><span>dd</span></li> -->
			</ul>

			<div class="uk-grid" id="box_container">


				<!--HERE GENERATED CHARTS  -->

				<div id="myfirstchart" style="height: 250px;"></div>


			</div>



		</div>


	</div>

</body>

</html>
