*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}



.uk-fixed-navigation {
	position: fixed;
	right: 0;
	left: 0;
	top: 0;
	z-index: 1030;
}

.container {
	position:absolute;
	bottom:0px;
	top:45px;
	width: 100%;

}

.container div {
	margin-top:0px;
}

.left {
	background-color: #FBFBFB;
	position: fixed;
	width: 300px;
	bottom: 0px;
	top:45px;
	border-right: 1px solid #EEEEEE;
	overflow-y: auto;
	overflow-x: hidden;


}


#searchform {
	padding: 3px;
}

#searchform * {
	width: 100%;
	margin-bottom: 5px;

}

.main {
	margin-left: 300px;
	position: absolute;
	padding-left: 20px;
	padding-top: 20px;

}




.uk-search fieldset {
	text-align: center;
}


.uk-badge{
	background-color: green;

}
.inline{
	display: inline;

}

#box_container{

	margin-top: 0px;
	padding-top: 0px;

}

.typeahead{
	color:red;
	
}

.atb_name{
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin: auto;
	text-align: center;

}
#overlay{
/*	background-color: black;
	position: fixed;
	top:0;
	left:0;
	width: 100%;
	bottom: 0;
	z-index: 1;
	opacity: 0.5;
	visibility: hidden;*/
}

#overlay img{
	position: absolute;
	margin: auto;
	left:50%;
	top:50%;

}

#atb_list {
	position:relative;
}



li span.uk-badge {
	float:right;
	position:relative;
	top:6px;
	right: 6px;
}